ul.menu {
	padding: 0;
	width: 50%;
	white-space:nowrap;
	display: flex;

	li {
		margin-right: 10px;
		text-align: center;
		width: 25%;
		list-style: none;

		
		a {
			color: black;
			padding: 10px;
			text-transform: uppercase;
			font-weight: bold;
			padding: 0;
			
		}
	}
}